.root .MuiTextField-root {
  margin: 8px; /* theme.spacing(1) = 8px by default */
}

.paper {
  padding: 16px; /* theme.spacing(2) = 16px */
  margin: 4%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fileInput {
  width: 97%;
  margin: 10px 0;
}

.buttonSubmit {
  margin-bottom: 10px;
}
