.posts{
    margin: 2%;
    display: flex;
    background-color: aliceblue;
     box-shadow: 0 2px 5px rgba(0,0,0,0.2),
              0 5px 15px rgba(0,0,0,0.15) !important;
              
            }